<div class="filters--container">
  <div (click)="collapseExpandElement('all')" class="filters filters--title container-fluid">
    <strong>Filtros</strong>
    <i class="fa " [ngClass]="{'fa-sort-up':sectionAll, 'fa-sort-down':!sectionAll}"></i>
  </div>
  <div *ngIf="sectionAll">
    <div class="filters filters--search">
      <div class="filters--search-top">
        <i class="search fa fa-search"></i>
        <span>Nombre del hotel</span>
        <i (click)="collapseExpandElement('search')" class="fa " [ngClass]="{'fa-sort-up':sectionSearch, 'fa-sort-down':!sectionSearch}"></i>
      </div>
      <div *ngIf="sectionSearch" class="filters--search-bottom container-fluid">
        <input type="text"
               placeholder="Ingrese el nombre del hotel"
               class="hotel-name"
               (keydown)="keyDownFunction($event)"
               [(ngModel)]="hotelName"/>
        <button (click)="searchHotels()">Aceptar</button>
      </div>
    </div>
    <div class="filters filters--criterias">
      <div class="filters--search-top">
        <i class="search fa fa-star"></i>
        <span>Estrellas</span>
        <i (click)="collapseExpandElement('stars')" class="fa " [ngClass]="{'fa-sort-up':sectionStars, 'fa-sort-down':!sectionStars}"></i>
      </div>
      <div *ngIf="sectionStars" class="filters--search-bottom container-fluid">
        <ul>
          <li>
            <div class="form-check">
              <input type="checkbox"
                     class="form-check-input"
                     id="exampleCheck"
                     [(ngModel)]="allElements"
                     (change)="applyFilters(-1, allElements)">
              <label class="form-check-label" for="exampleCheck">Todas las estrellas</label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input type="checkbox"
                     class="form-check-input"
                     id="exCheck5"
                     [(ngModel)]="fiveElements"
                     (change)="applyFilters(5, fiveElements)">
              <label class="form-check-label" for="exCheck5">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input type="checkbox"
                     class="form-check-input"
                     id="exCheck4"
                     [(ngModel)]="fourElements"
                     (change)="applyFilters(4, fourElements)">
              <label class="form-check-label" for="exCheck4">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input type="checkbox"
                     class="form-check-input"
                     id="exCheck3"
                     [(ngModel)]="threeElements"
                     (change)="applyFilters(3, threeElements)">
              <label class="form-check-label" for="exCheck3">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input type="checkbox"
                     class="form-check-input"
                     id="exCheck2"
                     [(ngModel)]="twoElements"
                     (change)="applyFilters(2, twoElements)">
              <label class="form-check-label" for="exCheck2">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input type="checkbox"
                     class="form-check-input"
                     id="exCheck1"
                     [(ngModel)]="oneElements"
                     (change)="applyFilters(1, oneElements)">
              <label class="form-check-label" for="exCheck1">
                <i class="fa fa-star"></i>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
